@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MullerRegular.eot');
    src: url('../fonts/MullerRegular.woff2') format("woff2"),
    url('../fonts/MullerRegular.ttf') format("truetype");
}

@font-face {
    font-family: "Muller";
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/MullerRegularItalic.eot');
    src: url('../fonts/MullerRegularItalic.woff2') format("woff2"),
    url('../fonts/MullerRegularItalic.ttf') format("truetype");
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MullerMedium.eot');
    src: url('../fonts/MullerMedium.woff2') format("woff2"),
    url('../fonts/MullerMedium.ttf') format("truetype");
}

@font-face {
    font-family: "Muller";
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/MullerMediumItalic.eot');
    src: url('../fonts/MullerMediumItalic.woff2') format("woff2"),
    url('../fonts/MullerMediumItalic.ttf') format("truetype");
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.woff2') format("woff2"),
    url('../fonts/MullerBold.ttf') format("truetype");
}

@font-face {
    font-family: "Muller";
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/MullerBoldItalic.eot');
    src: url('../fonts/MullerBoldItalic.woff2') format("woff2"),
    url('../fonts/MullerBoldItalic.ttf') format("truetype");
}
